body {
  background-color: rgb(156, 156, 248);
  padding-top: 80px;
}

button {
  background-color: purple;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.incorrect {
  font-size: 1.5 rem;
}

.guess {
  font-size: 2 rem;
}
